geoplotのチュートリアルを動かしてみます。  
参考: https://nbviewer.jupyter.org/github/ResidentMario/geoplot/blob/master/notebooks/tutorials/Quickstart.ipynb  

本ノートブックで利用するgeopandasやgeoplotはanaconda (conda install) で入れた方が良いと思います。  
geoplotはpipでも頑張れば入れられるらしいですが、私には無理でした。  
一方quiltはpipのみ対応しています。

# 準備

In [ ]:
# 本ノートブックで利用するライブラリをインストールするには、このセルのコマンドを実行します
# ! conda install geopandas
# ! conda install geoplot
# ! pip install quilt

In [10]:
import geopandas as gpd
import geoplot as gplt

# plt.show()を自動的にしてくれる
%matplotlib inline

ここではGeoDataFrame形式に格納されたのデータを扱います。この形式は基本的にはpandasのDataFrameと一緒です。  
違いはshapely.geometry型のデータを持つことを明記しているかどうかくらいです。  
この型は空間中の点やポリゴンの情報などを表現しています。

データセットを用意します。  
ここで、チュートリアルではいきなり   
<code>from quilt.data.ResidentMario import geoplot_data</code>  
としていますが、これでは通りません。  
下のセルのように実行します。  
参考: https://github.com/ResidentMario/geoplot/issues/41#issuecomment-341594813

In [ ]:
import quilt
quilt.install("ResidentMario/geoplot_data")
from quilt.data.ResidentMario import geoplot_data

# a

アメリカの人口10万以上の都市の情報を得ます。

In [22]:
continental_cities=gpd.read_file(geoplot_data.usa_cities()).query("POP_2010 > 100000")
print("continental_cities.shape = ", continental_cities.shape)
continental_cities.head()

continental_cities.shape =  (284, 5)

,id,POP_2010,ELEV_IN_FT,STATE,geometry
3,177,105549.0,902.0,ND,POINT (-96.78980339999998 46.87718630000012)
30,373,210565.0,505.0,NY,POINT (-77.61555679999998 43.15478450000012)
34,378,145170.0,397.0,NY,POINT (-76.14742439999998 43.04812210000017)
39,386,261310.0,600.0,NY,POINT (-78.87836889999994 42.8864468000001)
61,426,106519.0,118.0,MA,POINT (-71.31617179999989 42.63342470000003)

州の情報を得ます。

In [23]:
contiguous_cities=gpd.read_file(geoplot_data.contiguous_usa())
print("contiguous_cities.shape = ", contiguous_cities.shape)
contiguous_cities.head()

contiguous_cities.shape =  (49, 4)

,id,adm1_code,State,geometry
0,0,USA-3514,Minnesota,"POLYGON ((-89.59940899999999 48.010274, -89.48..."
1,1,USA-3515,Montana,"POLYGON ((-111.194189 44.561156, -111.291548 4..."
2,2,USA-3516,North Dakota,"POLYGON ((-96.601359 46.351357, -96.5389080000..."
3,4,USA-3518,Idaho,"POLYGON ((-111.049728 44.488163, -111.050245 4..."
4,5,USA-3519,Washington,"POLYGON ((-116.998073 46.33017, -116.906528 46..."

ここでgeopandasやgeoplotでは座標の値は（経度、緯度）の順で持っていますので、プロットの位置がおかしいと感じたらまずそこを確認しましょう。